<h3>About</h3>
<br>
<p><b>It is just a demo with minimal functionality. It uses azure app service, azure database for mysql and
     text analytics cognitive service of azure with CI/CD integration from github. And all the sample questions and
      answers are taken from quora for testing purpose.</b></p>
<br>
<p>NOTE: The website can take time while loading because it is hosted on the free tier of azure app service.</p>