<div class = "question-form">
      <form action="add_question" method="POST">
		  		<textarea style="background-color: antiquewhite;" cols="50" rows="10" placeholder="Your question" name="question" required></textarea>
				  <br>
				<input style="background: darkgray; text-align:center" type="submit">
	  </form>
</div>