<br>
<h4>{{title}}</h4>

{{#each keyphrases}}
  <div>
      <h5 style="color:black; margin:0;"> {{this.keyPhrases}}</h5>
  </div>
{{/each}}
<br>
<p>
  We can take insights from questions in database and manipulate them after finding most common concern or topic asked by the user
  (currently not possible because it require significant number of questions in the database which are not avilable in the sample database).
  And then solution can be made using that information for better health and establishing a healthy environment.   
</p>
