<div class = "answer-form">
      <form action="write_answer" method="POST">
		  		<textarea style="background-color: antiquewhite;" cols="50" rows="10" placeholder="Your answer" name="answer" required></textarea>
				  <br>
				<input style="background: darkgray; text-align:center" type="submit">
	  </form>
</div>