<div class = "answer-form">
      <form action="write_answer" method="POST">
		  		<textarea style="background-color: rgb(228, 237, 241);" cols="50" rows="10" placeholder="Your answer" name="answer" required></textarea>
				  <br>
				<input style="background: rgb(122, 146, 177); text-align:center" type="submit">
	  </form>
</div>